body{
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to bottom, white, rgb(0, 148, 128));
    height: 100vh;
    width: 100vw;
}

img{
    width: 80%;
}

.flex-container{
    display: flex;
    width: 80vw;
    height: 70vh;
    border: 1px solid black;
    margin: 100px auto;
    border-radius: 20px;
}

.flex-img{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 65vh;
    border-radius: 100px;
}

.flex-form{
    margin: 5px;
    width: 95%;
    height: 95%;
}

.flex-form__h1{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.form{
}

.form__field{
    display: flex;
    margin: 5px;
    flex-direction: column;
    height: 58px;
}

.form__label{
    text-transform: uppercase;
    margin: 5px;
}

.form__input{
    margin: 5px;
    width: 90%;
    height: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    border-bottom: 3px solid black;
}

.form__input:focus{
    border-bottom: 3px solid rgb(1, 158, 158);
}

.form__textarea{
    resize: none;
    border: none;
    outline: none;
    margin: 5px;
    width: 90%;
    border-radius: 5px;
    border-bottom: 3px solid black;
}

.form__textarea:focus{
    border-bottom: 3px solid rgb(1, 158, 158);
}

.form__submit{
    display: flex;
    margin: 5px;
    justify-content: center;
    border-radius: 5px;
    width: 90%;
    height: 20px;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
}

.form__submit:focus{
    border-bottom: 3px solid rgb(1, 158, 158);
    background: linear-gradient(to bottom, transparent, rgb(1, 158, 158));
    border: 1px solid black;
}